In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import minimize

In [4]:
df = pd.read_csv("../data/processed/market_data_processed.csv")
df.head()

         Date  SP500_Close  VIX_Close  SP500_LogReturn
0  2010-01-05  1136.520020  19.350000         0.003111
1  2010-01-06  1137.140015  19.160000         0.000545
2  2010-01-07  1141.689941  19.059999         0.003993
3  2010-01-08  1144.979980  18.129999         0.002878
4  2010-01-11  1146.979980  17.549999         0.001745

In [5]:
df["Date"] = pd.to_datetime(df["Date"])
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             4058 non-null   datetime64[us]
 1   SP500_Close      4058 non-null   float64
 2   VIX_Close        4058 non-null   float64
 3   SP500_LogReturn  4058 non-null   float64
dtypes: datetime64[us](1), float64(3)
memory usage: 126.9 KB

In [7]:
returns = df["SP500_LogReturn"].dropna().values
returns

array([ 0.00311083,  0.00054537,  0.00399322, ..., -0.00282612,
        0.00691576, -0.01043996], shape=(4058,))

In [8]:
T = len(returns)
T

4058